.district-line-chart {
    &__wrapper {
        background-color: #fff;
        display: flex;
        margin: 40px;
        justify-content: center;
        padding: 40px 30px 20px 30px;
        border-radius: 7px;
    }
}